/**
 * Prism.js Ayu light theme
 * Based on Ayu theme for Sublime Text by @dempfi (https://github.com/dempfi/ayu)
 */
code,
pre[class*="language-"] {
  color: #5c6773;
  background: #fafafa;
  font-family: Menlo, Monaco, Consolas, 'Roboto Mono', monospace;
  line-height: 1.5;
}

pre[class*="language-"] {
  padding: 1rem;
  margin: .5rem 0;
  overflow: auto;
  font-size: 0.8rem;
}

code:not([class*=language-]) {
  padding: 0.1rem 0.25rem;
}

.prism-show-language {
  position: relative;
}

.prism-show-language-label {
  padding: 0.2rem 0.5rem;
  margin: 0.1rem;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  right: 0;
}

.token.comment {
  color: #abb0b6;
}

.token.selector {
  color: #f2590c;
}

.token.boolean {
  color: #a37acc;
}

.token.number {
  color: #a37acc;
}

.token.constant {
  color: #f29718;
}

.token.string {
  color: #86b300;
}

.token.operator {
  color: #f2590c;
}

.token.atrule {
  color: #41a6d9;
}

.token.keyword {
  color: #f2590c;
}

.token.function {
  color: #f29718;
}

.token.package {
  color: #41a6d9;
}

.token.atom {
  color: #86b300;
}

.token.delimiter {
  color: #e7c547;
}

.token.deleted {
  color: #41a6d9;
}

.token.inserted {
  color: #86b300;
}

.token.class-name {
  color: #41a6d9;
}

pre.language-css .token.property {
  color: #41a6d9;
}
