* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  /* GitHub's system font stack */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-top: 0;
  color: #333;
  line-height: 1.3;
}

h3 {
  margin-bottom: .3rem;
}

header {
  margin: 1rem 2rem 2rem;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: normal;
}

header p {
  margin-top: 0;
}

p {
  line-height: 1.5;
}

nav {
  max-width: 40rem;
  margin: 0 auto 2rem;
  padding: 0;
  font-weight: normal;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  padding: 0 1rem;
}

nav a.selected {
  color: #666;
}

nav ul,
.post-list,
.post-pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main {
  max-width: 40rem;
  margin: 0 auto 2rem;
  padding: 0 2rem;
  overflow-wrap: break-word;
}

a {
  color: #007fad;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005e80;
  text-decoration: underline;
}

.post-list h2 {
  margin: 0;
}

.post-list p {
  margin: 0;
}

.post-list > li {
  overflow: hidden;
  margin-bottom: 1rem;
}

.post-pagination {
  margin-top: 2rem;
}

.post-pagination p {
  margin: 0;
}

.post-pagination-newer {
  float: left;
  width: 33%;
}

.post-pagination-pages {
  text-align: center;
  display: inline-block;
  width: 33%;
}

.post-pagination-older {
  float: right;
  text-align: right;
  width: 33%;
}

.disabled,
.disabled:hover,
.disabled:focus {
  color: #ccc;
  cursor: not-allowed;
  text-decoration: none;
}

.post-date {
  color: #666;
  font-size: 1rem;

  /* 1rem (16px) * 2.25 = 36px - matches h2 (1.5rem (24px) * 2.5) */
  line-height: 2.25;
  vertical-align: middle;
  float: right;
  font-weight: normal;
}

.archive .post-date {
  line-height: 1.5;
}

.archive {
  margin-bottom: 1rem;
}

.archive li {
  margin-bottom: .3rem;
}

.archive h2 {
  font-size: 1rem;
}

.post-date a {
  margin-left: .33rem;
}

label {
  margin: 0 0 .5rem;
  display: block;
}

input,
textarea {
  margin: 0 0 1rem;
  padding: .5rem;
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
}

textarea {
  resize: vertical;
}

blockquote {
  display: block;
  margin: 1rem;
  padding-left: 1rem;
  overflow: hidden;
  border-left: .25rem solid #007fad;
}

img {
  max-width: 100%;
  margin: 1rem 0;
}

.errors {
  background: #ffdfe4;
  border: 1px solid #e9c1c7;
  padding: 1rem;
  margin: 0 0 1.5rem;
}

.errors ul {
  margin-bottom: 0;
}

.post-tags {
  color: #666;
  padding: 0;
}

.post-tags li {
  display: inline;
}

.post-tags li:first-child::before {
  content: 'Tagged ';
}

/* add commas between all but the last or second-to-last list items */
.post-tags li:not(:last-child):not(:nth-last-child(2))::after {
  content: ',';
}

/* add an "and" between the second-to-last and last list items */
.post-tags li:nth-last-child(2)::after {
  content: ' and ';
}

#tag-data {
  display: none;
}

/* SimpleMDE */
.editor-toolbar {
  border-radius: 0;
}

.editor-preview {
  background: #fff;
  overflow: auto;
}

.CodeMirror {
  border-radius: 0;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  border-bottom: 2px dotted rgba(255, 0, 0, 1);
  background: none;
}

/* tokenfield */
.tokenfield.tokenfield-mode-tokens {
  margin-bottom: 1rem;
  border-radius: 0;
  border: 1px solid #ddd;
  transition: none;
  font-size: inherit;
  padding: 0;
}

.tokenfield .tokenfield-input {
  padding: .5rem;
  margin: 0;
  width: auto !important;
}

.tokenfield .tokenfield-set > ul > li {
  margin: .5rem 0 0 .5rem;
  border-radius: 0;
  font-size: .8rem;
}

.tokenfield .tokenfield-set > ul > li:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 16px;
  }

  .post-date {
    float: none;
    display: block;
    line-height: 1.5;
  }

  main {
    padding: 0 1rem;
  }
}
