* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Open Sans', 'San Fransisco', 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
  margin-top: 0;
  color: #333;
}

aside {
  width: 30%;
  background: url('/images/sidebar.jpg') center/cover no-repeat fixed;
  position: fixed;
  height: 100%;
  color: #f8f8f8;
  padding: 4rem 2rem;
  text-align: center;
}

aside h1 {
  color: #f8f8f8;
  font-weight: normal;
}

aside ul, .post-list, .post-pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.post-list li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f8f8f8;
  overflow: hidden;
}

.post-list li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.post-pagination {
  margin-top: 2rem;
}

.post-pagination-newer {
  float: left;
  width: 33%;
}

.post-pagination-pages {
  text-align: center;
  display: inline-block;
  width: 33%;
}

.post-pagination-older {
  float: right;
  text-align: right;
  width: 33%;
}

main {
  width: 70%;
  float: left;
  margin-left: 30%;
  padding: 4rem;
}

a {
  color: #f4645f;
  text-decoration: none;
}

a:hover {
  color: #d81d16;
}

.disabled {
  color: #ccc;
  cursor: default;
}

.disabled:hover {
  color: #ccc;
}

.post-date {
  color: #ccc;
}
