* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  /* GitHub's system font stack */
  font-family: "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #999;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0;
  color: #333;
}

aside.sidebar {
  width: 30%;
  background: url('/images/sidebar.jpg') bottom/cover no-repeat;
  position: fixed;
  height: 100%;
  color: #f8f8f8;
  padding: 4rem 2rem;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
}

aside.sidebar::after {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 70%;
  content: ' ';
  height: 33%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

aside h1 a {
  color: #f8f8f8;
  font-weight: normal;
}

aside h1 a:hover {
  color: #f4645f;
}

aside ul, .post-list, .post-pagination {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.admin {
  z-index: 99;
  position: fixed;
  bottom: 2rem;
}

.admin li {
  padding: 0.25rem 0;
  text-align: left;
}

.post-list > li {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
}

.post-list > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.post-pagination {
  margin-top: 2rem;
}

.post-pagination-newer {
  float: left;
  width: 33%;
}

.post-pagination-pages {
  text-align: center;
  display: inline-block;
  width: 33%;
}

.post-pagination-older {
  float: right;
  text-align: right;
  width: 33%;
}

main {
  width: 70%;
  float: left;
  margin-left: 30%;
  padding: 4rem;
  overflow-wrap: break-word;
}

a {
  color: #f4645f;
  text-decoration: none;
}

a:hover {
  color: #d81d16;
}

.disabled {
  color: #ccc;
  cursor: default;
}

.disabled:hover {
  color: #ccc;
}

.post-date {
  color: #ccc;
  text-transform: lowercase;
}

.post-date a {
  margin-left: 0.33rem;
}

code {
  white-space: pre;
}

label {
  margin: 0 0 0.5rem;
  display: block;
}

input, textarea {
  margin: 0 0 1rem;
  padding: 0.5rem;
  display: block;
  width: 100%;
  border: 1px solid #ddd;
}

textarea {
  min-height: 5rem;
}

div.checkbox {
  margin: 1rem 0;
}

div.checkbox label {
  display: inline;
}

input[type="checkbox"] {
  display: inline;
  width: auto;
}

button {
  clear: both;
  display: block;
}

blockquote {
  display: block;
  margin: 2rem 0;
  padding-left: 1rem;
  overflow: hidden;
  border-left: 0.25rem solid #f4645f;
}

img {
  max-width: 100%;
  margin: 1rem 0;
}

.post-summary img {
  display: none;
}

.post-edit {
  font-size: 0.8rem;
  text-transform: lowercase;
  vertical-align: middle;
}

/* SimpleMDE */
.editor-toolbar {
  border-radius: 0;
}

.CodeMirror {
  border-radius: 0;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment) {
   border-bottom: 2px dotted rgba(255, 0, 0, 1);
   background: none;
}
